<!DOCTYPE html>
<html>


<head>

    <title>Grade Calculator 276-A1</title>

</head>

<link rel="stylesheet" href="../../public/css/calculator.css" type="text/css" />
<body background="#a6192e">

<div id="main1" class='main'>

    <H1>Grade Calculator</H1>

    <div id="calc1" class="calc">

        <h3 style="color: #9B1428">Activity</h3>
        <p>Give grades to the numeric activities or change the names by clicking on them:</p>
        <table>
            <tbody>
            <tr class="labels">
                <td>Name</td>
                <td>Short Name</td>
                <td>Weight</td>
                <td>Grade</td>
                <td>Percent</td>
            </tr>
            <tr class="activity">
                <td >
                    <input class='name' value="Activity 1" placeholder="My Activity" >
                    <br>
                    <button class="a_button">DELETE</button>
                    <button class="a_button">DUPLICATE</button>
                </td>
                <td><input class='name' STYLE="width: 90px" value="A1" placeholder="A" ></td>
                <td><input class='weight_input' ></td>
                <td><input class='grade_input'  >/ <br> <input class='grade_input'></td>
                <td><span class='percent'>&nbsp;</span></td>
            </tr>
            <tr class="activity">
                <td>
                    <input class='name' value="Activity 2" placeholder="My Activity" >
                    <br>
                    <button class="a_button">DELETE</button>
                    <button class="a_button">DUPLICATE</button>
                </td>
                <td><input class='name' STYLE="width: 90px" value="A2" placeholder="A" ></td>
                <td><input class='weight_input' ></td>
                <td><input class='grade_input' >/ <br> <input class='grade_input'></td>
                <td><span class='percent' >&nbsp;</span></td>
            </tr>
            <tr class="activity">
                <td>
                    <input class='name' value="Activity 3" placeholder="My Activity" >
                    <br>
                    <button class="a_button">DELETE</button>
                    <button class="a_button">DUPLICATE</button>
                </td>
                <td><input class='name' STYLE="width: 90px" value="A3" placeholder="A" ></td>
                <td><input class='weight_input' ></td>
                <td><input class='grade_input' >/ <br> <input class='grade_input'></td>
                <td><span class='percent' >&nbsp;</span></td>
            </tr>
            <tr class="activity">
                <td>
                    <input class='name' value="Activity 4" placeholder="My Activity" >
                    <br>
                    <button class="a_button">DELETE</button>
                    <button class="a_button">DUPLICATE</button>
                </td>
                <td><input class='name' STYLE="width: 90px" value="A4" placeholder="A" ></td>
                <td><input class='weight_input' ></td>
                <td><input class='grade_input' >/ <br> <input class='grade_input'></td>
                <td><span class='percent' >&nbsp;</span></td>
            </tr>
            </tbody>
        </table>

<!--        <button class="a_button" id="btn_a">ADD</button>-->
        <h3 style="color: #9B1428">Result: </h3>
        <span id="results", style="font-size: x-large;color: #9B1428">50%</span>
        <button class="calc_button" id="btn_w">WEIGHTED</button>
        <button class="calc_button" id="btn_m">MEAN</button>

    </div>
</div>

<script src="../../public/js/calculator.js" type="text/javascript"></script>



</body>
</html>



