<!DOCTYPE html>
<html>


<head>

    <title>Grade Calculator 276-A1</title>

</head>

<link rel="stylesheet" href="../../public/css/calculator.css" type="text/css" />
<script src="../../public/js/calculator.js" type="text/javascript"></script>
<body background="#a6192e">

<div id="main" class='main'>
saklsdakljasjk

</div>

</body>
</html>



